<html>  
    <head> 
        <title> Login </title> 
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>

    <body>
        <div class="tela">
        <div class="texto">Entre com sua Conta</div> 
        </div>
        <div class="tema">
        <div class="int">
        <form method="POST">
        <br/>Email:

        <br/><input type="text" name="email"/> 
        <br/>Senha:
        <br/><input type="password" name="password"/> <br/>

        <br/><input type="checkbox" name="lembrar-me" value="lembrar-me">Lembrar-me<br><br/>
        <br/><input type="submit" value="Entrar"/> <br/>

        <br/><a type="submit"value="Registrar-se"></a> 
        <a href="/register" type="button">Registrar-se</a> <br/>

    </form>
        </div>
        </div>  
    </body>

</html>