<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div class="tela">
        <a href="/home/{{user_id}}" type="button">Home</a>
        <a href="/busca/{{user_id}}" type="button">Realizar Busca</a><br/>
        <hr><h1>Perfil do Usuário</h1><hr>

        <div class="user_information">
            <h3>Informações de Usuário</h3>
            <b>email: </b>{{email[0]}}<br/>
            <b>local: </b>{{local[0]}}<br/>
            <br/>
        </div> 
        <hr>
        <div class="alter_email">
            <h3>Alterar Email</h3>
            <form method="POST">
                <br/>Novo Email:
                <br/><input type="text" name="email"/> <br/>
                
                <br/>Confirmar Novo Email:
                <br/><input type="text" name="email_c"/> <br/>
                <br/>
                <br/> <input type="submit" value="Confirmar"/>
            </form>
        </div> 
        <br/><br/>
        <hr>
        <div class="alter_password">
            <h3>Alterar senha</h3>
            <form method="POST">
                <br/>Nova Senha:
                <br/><input type="password" name="password"/> <br/>
                
                <br/>Confirmar Nova Senha:
                <br/><input type="password" name="password_c"/> <br/>
                <br/>
                <br/> <input type="submit" value="Confirmar"/>
            </form>
        </div> 
        <br/><br/>
        <hr>
        <div class="alter_local">
            <h3>Alterar endereço</h3> 
            <form method="POST">
                <br/>Rua:
                <br/><input type="text" name="street"/> <br/>

                <br/>Numero:
                <br/><input type="text" name="number"/> <br/>

                <br/>Bairro:
                <br/><input type="text" name="nbh"/> <br/>

                <br/>Cidade:
                <br/><input type="text" name="city"/> <br/>

                <br/>Estado:
                <br/><input type="text" name="state"/> <br/>
                <br/>
                <br/> <input type="submit" value="Confirmar"/>
            </form>
        </div> 
    </div>  
    <hr>
</body>
</html>