<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>

    <div class="tela">
        <div class="texto">Registre seus dados</div> 
        </div>
        <div class="tema">
        <div class="int">
            <form method="POST">

            <br/>Nome de Usuário:
            <br/><input type="text" name="usuario"/> <br/>
            
            <br/>Senha:
            <br/><input type="password" name="senha"/> <br/>
            
            <br/>Confirmar Senha:
            <br/><input type="password" name="senha_confirm"/> <br/>
            
            <br/>Cidade:
            <br/><input type="text" name="cidade"/> <br/>

            <br/>Estado:
            <br/><input type="text" name="estado"/> <br/>
            

            <br/> <input type="submit" value="Entrar"/>
            </form>
        </div>
    </div>  
    
</body>
</html>