<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>

    <div class="tela">
        <div class="texto">Registre seus dados</div> 
        </div>
        <div class="tema">
        <div class="int">
            <form method="POST">

            <br/>Email:
            <br/><input type="text" name="email"/> <br/>
            
            <br/>Senha:
            <br/><input type="password" name="password"/> <br/>
            
            <br/>Confirmar Senha:
            <br/><input type="password" name="password_c"/> <br/>
            
            <br/>Rua:
            <br/><input type="text" name="street"/> <br/>

            <br/>Numero:
            <br/><input type="text" name="number"/> <br/>

            <br/>Bairro:
            <br/><input type="text" name="nbh"/> <br/>

            <br/>Cidade:
            <br/><input type="text" name="city"/> <br/>

            <br/>Estado:
            <br/><input type="text" name="state"/> <br/>
            
            <br/> <input type="submit" value="Entrar"/>
            </form>
        </div>
    </div>  
    
</body>
</html>